Repository remarkablemark/phonetic-alphabet-converter: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

chore(package): modularize `lint:*` scripts
  package.json
Due: prettier --write

test(src): test converter 2nd argument
  src/index.spec.ts
Due: npm run lint:fix

chore(husky): run lint:tsc and test scripts in "pre-commit" hook
  .huskyrc.json
Due: prettier --write

refactor(src): move export default next to function
  src/index.ts
Due: npm run lint:fix

ci(travis): move `coveralls` from package.json to .travis.yml
  .travis.yml
  package.json
Due: prettier --write

chore(docs): get mdc variable from window in script.js
  docs/script.js
Due: prettier --write

chore(eslint): migrate from tslint to eslint
  .eslintrc.json
  package.json
  tslint.json
Due: prettier --write

chore(eslint): add rules "no-console" and "no-debugger"
  .eslintrc.json
Due: prettier --write

chore(lintstaged): run lint:fix on .js files
  .lintstagedrc.json
Due: prettier --write

ci(travis): run build after test
  .travis.yml
Due: prettier --write

chore(package): fix `bugs.url` issues link
  package.json
Due: prettier --write

chore(github): add `.github/ISSUE_TEMPLATE.md`
  .github/ISSUE_TEMPLATE.md
Due: prettier --write

build(rollup): upgrade rollup and plugin, update configs
  package.json
  rollup.config.js
  tsconfig.json
Due: prettier --write

ci(travis): do not cache directories `node_modules`
  .travis.yml
Due: prettier --write

build(prettier): upgrade prettier and plugin, fix lint
  docs/script.js
  jest.config.js
  package.json
  rollup.config.js
  src/index.spec.ts
  src/index.ts
Due: npm run lint:fix, prettier --write

ci(rollup): disable npm caching to fix build error
  .travis.yml
Due: prettier --write

build(package): upgrade devDependencies
  package.json
Due: prettier --write

build(package): save rollup-plugin-terser@7.0.2 to devDependencies
  package.json
Due: prettier --write

build(rollup): build min and ummin umd bundles with sourcemap
  rollup.config.js
Due: prettier --write

test(index): verify that empty string returns empty array
  src/index.spec.ts
Due: npm run lint:fix

perf(index): return early with empty array if string is blank
  src/index.ts
Due: npm run lint:fix

chore(release): 0.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat(index)!: skip characters that are not on the alphabet map
  src/index.ts
Due: npm run lint:fix

test(index): verify invalid characters are skipped
  src/index.spec.ts
Due: npm run lint:fix

docs(readme): improve `Install` and `Usage` sections
  README.md
Due: prettier --write

chore(github): add GitHub Sponsors username to `.github/FUNDING.yml`
  .github/FUNDING.yml
Due: prettier --write

perf(docs): use minified UMD bundle for demo site
  docs/script.js
Due: prettier --write

refactor(docs): move main function into callback function for load
  docs/script.js
Due: prettier --write

chore(release): 1.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs(changelog): run CHANGELOG.md through prettier
  CHANGELOG.md
Due: prettier --write

perf(docs): optimize generate chip markup since invalid is skipped
  docs/script.js
Due: prettier --write

build(package): upgrade standard-version@9.0.0
  package.json
Due: prettier --write

chore(docs): add Google Analytics to demo site
  docs/index.html
Due: prettier --write

perf(docs): add async attribute to custom script for demo page
  docs/index.html
Due: prettier --write

docs(readme): replace demo site with Bitly link
  README.md
Due: prettier --write

ci(github): replace Travis CI with GitHub Actions
  .github/workflows/build.yml
  .travis.yml
Due: prettier --write

docs(readme): update build status badge and tidy code blocks
  README.md
Due: prettier --write

feat(index): replace indiana with india
  src/__snapshots__/index.spec.ts.snap
  src/index.ts
Due: npm run lint:fix

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: migrate husky 4 to 6
  .husky/.gitignore
  .husky/commitmsg
  .husky/pre-commit
  .huskyrc.json
  package.json
Due: prettier --write

Path conditions:
  npm run lint:fix: any of: *.ts
  prettier --write: any of: *.{css,html,js,json,md,yml}
